table{
    text-align: left;
    color: tomato;
    border-collapse: collapse;
}
table td,table th{
    border: 1px solid white;
    padding: 10px;
    min-height: 160px;
}
img{
    width: 100px;
    height: 100px;
}
.adjust-update-link a{
    margin-left: 10px;
}
