.search-item{
    margin: 25px auto;
    width: 800px;
    border: 1px solid white;
    padding: 10px;
}
.search-item img{
    width: 100%;
    object-fit: contain;
    height: 150px;
}
.search-item h6{
    font-size: 26px;
    color: tomato;
}
.search-item p{
    margin: 5px;
}
.search-item span{
    margin-right: 10px;
}